@{
    if (Session["adminid"] == null)
    {
        Response.Redirect("/yonetimpaneli/giris/");
    }

    string ControllerAdi = ViewContext.RouteData.GetRequiredString("controller");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kurumsal Web Admin</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">




    <!-- Bootstrap CSS -->
    <link href="/Content/AdminLayout/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="/Content/AdminLayout/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="/Content/AdminLayout/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="/Content/AdminLayout//Content/AdminLayout/css/font-awesome.min.css" rel="stylesheet" />
    <!-- full calendar css-->
    <link href="/Content/AdminLayout/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="/Content/AdminLayout/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="/Content/AdminLayout/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="/Content/AdminLayout/css/owl.carousel.css" type="text/css">
    <link href="/Content/AdminLayout/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/Content/AdminLayout/css/fullcalendar.css">
    <link href="/Content/AdminLayout/css/widgets.css" rel="stylesheet">
    <link href="/Content/AdminLayout/css/style.css" rel="stylesheet">
    <link href="/Content/AdminLayout/css/style-responsive.css" rel="stylesheet" />
    <link href="/Content/AdminLayout/css/xcharts.min.css" rel=" stylesheet">
    <link href="/Content/AdminLayout/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <!-- =======================================================
      Theme Name: NiceAdmin
      Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <link href="~/Content/ckeditor/contents.css" rel="stylesheet" />


    <script src="/Content/AdminLayout/js/jquery.js"></script>
    <script src="/Content/AdminLayout/js/jquery-1.8.3.min.js"></script>

    @*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/dataTables.bootstrap4.js"></script>

</head>
<body>
    <!-- container section start -->
    <section id="container" class="">


        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="/Admin/Index/" class="logo">KurumsalWeb <span class="lite">Admin</span></a>
            <!--logo end-->

            <div class="nav search-row" id="top_menu">
                <!--  search form start -->
                <ul class="nav top-menu">
                    <li>
                        <form class="navbar-form">
                            <input class="form-control" placeholder="Search" type="text">
                        </form>
                    </li>
                </ul>
                <!--  search form end -->
            </div>

            <div class="top-nav notification-row">
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">


                    <!-- inbox notificatoin end -->
                    <!-- alert notification start-->
                    <li id="alert_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                            <i class="icon-bell-l"></i>
                            <span class="badge bg-important">@ViewBag.YorumOnay</span>
                        </a>
                        <ul class="dropdown-menu extended notification">
                            <div class="notify-arrow notify-arrow-blue"></div>
                            <li>
                                <p class="blue">Bekleyen @ViewBag.YorumOnay Yorum Bulunmaktadır</p>
                            </li>
                            <li>
                                <a href="/Yorum/Index/">Yorumları Onayla</a>
                            </li>
                        </ul>
                    </li>
                    <!-- alert notification end-->
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="/Content/AdminLayout/img/avatar1_small.jpg">
                            </span>
                            <span class="username">@Session["eposta"]</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            @{if (Session["yetki"].ToString() == "Admin")
                                {
                                    <li>
                                        <a href="/Admin/Adminler/"><i class="icon_key_alt"></i> Adminler</a>
                                    </li>
                                }

                            }

                            <li>
                                <a href="/Admin/Logout/"><i class="icon_key_alt"></i> Çıkış Yap</a>
                            </li>

                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    <li class="active">
                        <a class="" href="/yonetimpaneli">
                            <i class="icon_house_alt"></i>
                            <span>Admin Özet</span>
                        </a>
                    </li>
                    @{if (Session["yetki"].ToString() == "Admin")
                        {
                            <li>
                                <a class="" href="/Kimlik/Index/">
                                    <i class="icon_genius"></i>
                                    <span>Site Kimlik</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/Hakkimizda/Index/">
                                    <i class="icon_genius"></i>
                                    <span>Hakkımızda</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/Slider/Index/">
                                    <i class="icon_genius"></i>
                                    <span>Slider</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="/Iletisim/Index/">
                                    <i class="icon_genius"></i>
                                    <span>İletişim</span>
                                </a>
                            </li>
                            } 
                        }
                        <li>
                            <a class="" href="/Hizmet/Index/">
                                <i class="icon_genius"></i>
                                <span>Hizmetler</span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;" class="">
                                <i class="icon_document_alt"></i>
                                <span>Blog Kayıtları</span>
                                <span class="menu-arrow arrow_carrot-right"></span>
                            </a>
                            <ul class="sub">
                                <li><a class="" href="/Kategori/Index/">Kategoriler</a></li>
                                <li><a class="" href="/Blog/Index/">Blog Kayıtları</a></li>
                                <li><a class="" href="/Yorum/Index/">Blog Yorumları</a></li>
                            </ul>
                        </li>


                    </ul>
                    <!-- sidebar menu end-->
                </div>
            </aside>
            <!--sidebar end-->
            <!--main content start-->
            <section id="main-content">
                <section class="wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="page-header"><i class="fa fa-laptop"></i> Admin Paneli</h3>
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home"></i><a href="#">@ControllerAdi</a></li>

                            </ol>
                        </div>
                    </div>
                    @RenderBody()
                </section>
            </section>




            <!--main content end-->
        </section>
        <!-- container section start -->
        <!-- javascripts -->


        <script src="/Content/AdminLayout/js/jquery-ui-1.10.4.min.js"></script>
        <script type="text/javascript" src="/Content/AdminLayout/js/jquery-ui-1.9.2.custom.min.js"></script>
        <!-- bootstrap -->
        <script src="/Content/AdminLayout/js/bootstrap.min.js"></script>
        <!-- nice scroll -->
        <script src="/Content/AdminLayout/js/jquery.scrollTo.min.js"></script>
        <script src="/Content/AdminLayout/js/jquery.nicescroll.js" type="text/javascript"></script>
        <!-- charts scripts -->
        <script src="/Content/AdminLayout/assets/jquery-knob/js/jquery.knob.js"></script>
        <script src="/Content/AdminLayout/js/jquery.sparkline.js" type="text/javascript"></script>
        <script src="/Content/AdminLayout/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
        <script src="/Content/AdminLayout/js/owl.carousel.js"></script>
        <!-- jQuery full calendar -->
        <
        <script src="/Content/AdminLayout/js/fullcalendar.min.js"></script>
        <!-- Full Google Calendar - Calendar -->
        <script src="/Content/AdminLayout/assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
        <!--script for this page only-->
        <script src="/Content/AdminLayout/js/calendar-custom.js"></script>
        <script src="/Content/AdminLayout/js/jquery.rateit.min.js"></script>
        <!-- custom select -->
        <script src="/Content/AdminLayout/js/jquery.customSelect.min.js"></script>
        <script src="/Content/AdminLayout/assets/chart-master/Chart.js"></script>

        <!--custome script for all page-->
        <script src="/Content/AdminLayout/js/scripts.js"></script>
        <!-- custom script for this page-->
        <script src="/Content/AdminLayout/js/sparkline-chart.js"></script>
        <script src="/Content/AdminLayout/js/easy-pie-chart.js"></script>
        <script src="/Content/AdminLayout/js/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="/Content/AdminLayout/js/jquery-jvectormap-world-mill-en.js"></script>
        <script src="/Content/AdminLayout/js/xcharts.min.js"></script>
        <script src="/Content/AdminLayout/js/jquery.autosize.min.js"></script>
        <script src="/Content/AdminLayout/js/jquery.placeholder.min.js"></script>
        <script src="/Content/AdminLayout/js/gdp-data.js"></script>
        <script src="/Content/AdminLayout/js/morris.min.js"></script>
        <script src="/Content/AdminLayout/js/sparklines.js"></script>
        <script src="/Content/AdminLayout/js/charts.js"></script>
        <script src="/Content/AdminLayout/js/jquery.slimscroll.min.js"></script>
        <script>
            //knob
            $(function () {
                $(".knob").knob({
                    'draw': function () {
                        $(this.i).val(this.cv + '%')
                    }
                })
            });

            //carousel
            $(document).ready(function () {
                $("#owl-slider").owlCarousel({
                    navigation: true,
                    slideSpeed: 300,
                    paginationSpeed: 400,
                    singleItem: true

                });
            });

            //custom select box

            $(function () {
                $('select.styled').customSelect();
            });

            /* ---------- Map ---------- */
            $(function () {
                $('#map').vectorMap({
                    map: 'world_mill_en',
                    series: {
                        regions: [{
                            values: gdpData,
                            scale: ['#000', '#000'],
                            normalizeFunction: 'polynomial'
                        }]
                    },
                    backgroundColor: '#eef3f7',
                    onLabelShow: function (e, el, code) {
                        el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
                    }
                });
            });
        </script>

    </body>



</html>