@model KurumsalWeb.Models.Model.Iletisim

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Iletisim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Whatsapp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Whatsapp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Twitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Twitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instagram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instagram)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
