@model IEnumerable<KurumsalWeb.Models.Model.Yorum>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yorumlar Index</h2>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable(

            {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            }
        );
    });
</script> 

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Blog.Baslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eposta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icerik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Onay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Blog.Baslik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdSoyad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eposta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Icerik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Onay)
                </td>
                <td>
                    @Html.ActionLink("Güncelle", "Edit", new { id = item.YorumId }) |
                    @Html.ActionLink("Detay", "Details", new { id = item.YorumId }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.YorumId })
                </td>
            </tr>
        }
    </tbody>



</table>
