@model IPagedList<KurumsalWeb.Models.Model.Blog>
@using PagedList;
@using PagedList.Mvc;
@using KurumsalWeb.Helper;
@{
    ViewBag.Title = "KategoriBlog";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}


<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Kategori Blog</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @foreach (var item in Model)
                {
                    <article>
                        <div class="post-image">
                            <div class="post-heading">
                                <h3><a href="/BlogPost/@SeoHelper.ToSeoUrl(item.Baslik).ToLower()-@item.BlogId">@item.Baslik</a></h3>
                            </div>
                            <img src="@item.ResimURL" alt="@item.Baslik" />
                        </div>
                        <p>
                            @Html.Raw(item.Icerik.Substring(0, 250))...
                        </p>
                        <div class="bottom-article">
                            <ul class="meta-post">


                                <li><i class="icon-folder-open"></i><a href="#"> @item.Kategori.KategoriAd</a></li>
                                @*<li><i class="icon-comments"></i><a href="#">4 Comments</a></li>*@
                            </ul>
                            <a href="/Home/BlogDetay/@item.BlogId" class="pull-right">Devam Et<i class="icon-angle-right"></i></a>
                        </div>
                    </article>
                }


                <div id="pagination">
                    @Html.PagedListPager(Model, Sayfa => Url.Action("Blog", new { Sayfa }), PagedListRenderOptions.Classic)
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="right-sidebar">
                    <div class="widget">
                        <form class="form-search">
                            <input class="form-control" type="text" placeholder="Search..">
                        </form>
                    </div>

                    <div class="widget">
                        <h5 class="widgetheading">Kategoriler</h5>
                        @{
                            Html.RenderAction("BlogKategoriPartial", "Home");
                        }
                    </div>
                    <div class="widget">
                        <h5 class="widgetheading">Son Blog Kayıtları</h5>
                        <ul class="recent">
                            @{
                                Html.RenderAction("BlogKayitPartial", "Home");
                            }
                        </ul>
                    </div>

                </aside>
            </div>
        </div>
    </div>
</section>
